body {
  border: 1px solid green;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}
.demo {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
